
body {
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
    background-color: #ecaa95;
    background-image: url("img/Picture.jpg"); /* Set the background image for the entire body */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mindesthöhe auf die volle Bildschirmhöhe setzen */
    overflow: hidden;
}
h2{
    text-align: center;
}
p, a{
    color: white;
    font-family: "Times New Roman", serif;
}
table, th, td {
    border:1px solid black;
}