<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRProject</title>
    <style>
        body {
            background-color: black; 
            color: white; */
        }
    </style>
</head>
<body>
    <h1>This is the webpage for the QRplan</h1>
    
    <a href="sp1.html"><h1>Science Park 1 (Under construction)</h2></a>
    <a href="sp2.html"><h1>Science Park 2 (Under construction)</h2></a>
    <a href="sp3.html"><h1>Science Park 3</h2></a>
    <a href="sp4.html"><h1>Science Park 4 (Under construction)</h2></a>
    <a href="sp5.html"><h1>Science Park 5 (Under construction)</h2></a>

    
        <div id="about-section">
            <h2>About this Project</h2>
            <p>This project aims to replace traditional paper timetables for courses in JKU with a webpage which offers the same functionality</p>
            <p>Tha project aims to reduce the carbon footprint of the university with this approach</p>
            <p>As a demo for the second Milestone of the project, this webpage serves as a proof of concept to test the QR-Codes for randomized data in SP3</p>
        </div>

    
</body>
</html>