<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href = "styles/main_page.css">
</head>
<body>

<h2>A basic HTML table</h2>
<table style="width:100%">
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
</table>

<p>To understand the example better, we have added borders to the table.</p>
<p>This exaple is from <a href="https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table3">W3Schools.com!</a> .</p>
</body>
</html>