<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<button onclick="goBack()"><-Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>
<div class="container">
    <h1 class="heading1">Room plans for lecture halls in SP3</h1>
    <a class="start-page" href="index.html">JKU - Start page</a>
</div>
    <a href="sp3HS1.html">SP3 Hörsaal 1</a>
    <a href="sp3HS2.html">SP3 Hörsaal 2</a>
<body>

    <div id="about-section">
        <h2>About this Project</h2>
        <p>This project aims to replace traditional paper timetables for courses in JKU with a webpage which offers the same functionality</p>
        <p>Tha project aims to reduce the carbon footprint of the university with this approach</p>
        <p>As a demo for the second Milestone of the project, this webpage serves as a proof of concept to test the QR-Codes for randomized data in SP3</p>
    </div>
    
</body>
</html>