<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: black; 
            color: white; */
        }
    </style>
</head>
<a href="index.html"><h1>JKU - Start page</h1></a>
    <h1>Roomplans for lecture halls in SP3</h1>
    <a href="sp3HS1.html"><h2>SP3 Hörsaal 1</h2></a>
    <a href="sp3HS2.html"><h2>SP3 Hörsaal 2</h2></a>
    
        <button onclick="goBack()">Go Back</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
<body>

    <div id="about-section">
        <h2>About this Project</h2>
        <p>This project aims to replace traditional paper timetables for courses in JKU with a webpage which offers the same functionality</p>
        <p>Tha project aims to reduce the carbon footprint of the university with this approach</p>
        <p>As a demo for the second Milestone of the project, this webpage serves as a proof of concept to test the QR-Codes for randomized data in SP3</p>
    </div>
    
</body>
</html>