<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SR1 Table</title>
    <link rel="stylesheet" href="styles/plans_view.css">
</head>
<div class="head-container">
    <h1 class="heading1">Science Park 3, Seminarraum 1</h1>
    <a class="start-page" href="index.html">JKU - Start page</a>
</div>
<body>
<div>
    <table>
        <thead>
            <tr>
                <th>Datum</th>
                <th>von</th>
                <th>bis</th>
                <th>Rhythmus</th>
                <th>Art</th>
                <th>Nr</th>
                <th>Titel</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mo. 06.05.2024</td>
                <td>08:30</td>
                <td>11:45</td>
                <td>wöchentlich</td>
                <td>Ü</td>
                <td>1111</td>
                <td>AI Basics</td>
                <td>Max Künstlichman</td>
            </tr>
            <tr>
                <td>Di. 07.05.2024</td>
                <td>12:00</td>
                <td>13:45</td>
                <td>wöchentlich</td>
                <td>Ü</td>
                <td>2222</td>
                <td>Web page engineering</td>
                <td>Ben Webster</td>
            </tr>
            <tr>
                <td>Mi. 08.05.2024</td>
                <td>08:30</td>
                <td>10:00</td>
                <td>wöchentlich</td>
                <td>Ü</td>
                <td>3333</td>
                <td>Logistics</td>
                <td>James Driver</td>
            </tr>
            <tr>
                <td>Fr. 10.05.2024</td>
                <td>08:30</td>
                <td>10:00</td>
                <td>wöchentlich</td>
                <td>Ü</td>
                <td>4444</td>
                <td>BWL</td>
                <td>Laura Euro</td>
            </tr>
        </tbody>
    </table>
</div>

<a href="sp3SR.html" class="back-button">Go to previous Page</a>

<div id="about-section">
    <h2>About this Project</h2>
    <p>This project aims to replace traditional paper timetables for courses in JKU with a webpage which offers the same functionality</p>
    <p>Tha project aims to reduce the carbon footprint of the university with this approach</p>
    <p>As a demo for the second Milestone of the project, this webpage serves as a proof of concept to test the QR-Codes for randomized data in SP3</p>
</div>

</body>
</html>
